#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#animation {
  width: 50px;
  height: 50px;
  position: absolute;
  background: green;
}

#animation2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50px;
  background: red;
}